{% extends "registration/accounts_base.html" %}
{% load static %}

{% block mainsection %}
<form class="d-flex flex-column align-items-center my-auto" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="col-md-8 mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="col-md-8 mb-4">
        <input class="form-control" type="password" name="password" autocomplete="current-password" required
            id="id_password" placeholder="Password">
        <div class="mt-2 col-12 d-flex justify-content-center">
            <a id="passwordHelpInline" class="form-text text-muted" href="{% url 'password_reset'%}" onclick="alert('Because this is a demo, all email sent in the password reset will be avaiable in the email page (located at the bottom of the login page). After resetting the password, go there to get your email password reset link.');">Reset password</a>
        </div>
    </div>

    <div class="form-row col-md-8 row flex-column align-items-center">
        <input type="submit" value="Login" class="mb-3 btn btn-primary col-md-6" style="font-size: 1.25em;"/>
        <input type="hidden" name="next" value="/" />
        <a class="btn btn-secondary col-md-4" href="{% url 'registration'%}">Create account</a>
    </div>
</form>
{% endblock mainsection %}

{% block extra %}
<div class="container mb-5 d-flex justify-content-center">
    <a class="btn btn-secondary" href="{% url 'email'%}">Check password reset emails</a>
</div>
{% endblock extra %}

{% block errors %}
{% if form.errors %}
<div class="fixed-bottom mb-2 mx-auto col-md-8 alert alert-danger alert-dismissible">
    Wrong user or password.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="fixed-bottom mb-2 mx-auto col-md-8 alert alert-warning alert-dismissible">
    You lack the required permissions to access this page.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock errors %}